/* Base */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fffcee;
  color: #333;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fffcee;
  z-index: 3000;
  transition: transform 0.3s ease-in-out;
}

.nav-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 45px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 34px;
  width: auto;
}

/* Nav links */
.main-nav {
  display: flex;
  gap: 30px; /* gap between Works and About */
  padding-bottom: 5px;
}

.main-nav a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  color: #333;
  position: relative;
}

.main-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.main-nav a:hover::after {
  transform: scaleX(1);
}

/* Main content */
.content {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  padding: 120px 20px 240px;
  min-height: 3500px;
}

.free-image {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
  /* fade-in animation */
  opacity: 0;
  transform: translateY(5px); /* slight slide-up effect */
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  z-index: 1; /* keep images behind navbar */
}

/* When visible */
.free-image.show {
  opacity: 1;
  transform: translateY(0);
}

/* Broom image (aligned LEFT) */
.broom {
  width: 1150px;
  top: 200px;
  left: 20px;
}

/* Apple image (aligned RIGHT) */
.apple {
  width: 780px;
  top: 1100px;
  right: 20px;
}

/* Glass image (aligned LEFT) */
.glass {
  width: 600px; /* adjust size as you prefer */
  top: 1900px; /* adjust vertical position */
  left: 20px; /* same alignment logic as broom */
}

/* Apple image (now aligned RIGHT) */
.ohMy {
  width: 980px;
  top: 3000px;
  right: 20px;
}

footer {
  background-color: #fffcee;
  padding: 0 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #aaa;
}

footer .nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* About page */
.about-lapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #444;
  text-align: justify;
  line-height: 1.4; /* adjust spaces btw text lines */
}

.about-name {
  font-size: 19px;
  font-weight: 500;
}

.about-content {
  width: 50%;
}

.about-links {
  padding-top: 10px;
  line-height: 1;
  font-size: 14px;
}

.about-links a {
  color: #333;
  text-decoration: underline;
}

.about-links a:hover {
  color: rgb(255, 180, 240);
}

.about-content-titles {
  padding-top: 100px;
  font-weight: 450;
}

.cvYear {
  font-size: 14px;
  padding-top: 30px;
  font-weight: 450;
}

.cvDes {
  font-size: 14px;
}

.aboutLink {
  font-size: 14px;
  color: #333;
  text-decoration: underline;
}

.works-lapper {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 images per row */
  gap: 50px; /* space between images */
  /* max-width: 1200px; */
  padding-top: 80px; /* spacing from navbar */
}

.works-lapper img {
  width: 90%;   /* make each image fit its column */
  height: auto;  /* keep aspect ratio */
  display: block;
  object-fit: cover; /* avoids stretching */
  /* padding-top: 20px; */
  padding-bottom: 30px;
}

